@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Palette+Mosaic&family=Rock+3D&display=swap');

body{
    /*background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);*/
    /*background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);*/
    
    background-color: black;
    
    background-attachment: fixed;
    color: rgb(255, 255, 255);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*fazer um efeito de maquina de escrever no titulo*/
.titulo{
    display: block;
    text-align: center;
    /*color: rgb(149, 0, 207);*/
    font-size: 50px;
    font-weight: bolder;
    animation: flicker 1.5s infinite alternate;  
    
}
.titulo2{
    display: block;
    text-align: center;
    color: rgb(149, 0, 207);
    
    font-size: 50px;
    font-weight: bolder;
}

.container1{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(149, 0, 207);
    border-radius: 30px;

}

.container2{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(149, 0, 207);
    border-radius: 30px; 
}

.container3{
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(149, 0, 207);
    border-radius: 30px;

}

p{
    text-align: center;
    font-size: 30px;
    padding: 3px;
    margin: 3px;
    
}




table, th, td{
    background-attachment: fixed;
    border: 3px solid rgb(149, 0, 207);
    border-collapse: collapse;
    font-size: 30px;


}


th, td {
    padding: 5px 10px;
}

th{
    font-weight: bolder;
    color: greenyellow;
}

td{
    font-weight: normal;
}


.container-tabela{
    width: 20%; 
    margin: auto;
}

.titulo, .titulo2 {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px rgb(149, 0, 207),
        0 0 42px rgb(149, 0, 207),
        0 0 82px rgb(149, 0, 207),
        0 0 92px rgb(149, 0, 207),
        0 0 102px rgb(149, 0, 207),
        0 0 151px rgb(149, 0, 207);
  }

  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(149, 0, 207),
        0 0 80px rgb(149, 0, 207),
        0 0 90px rgb(149, 0, 207),
        0 0 100px rgb(149, 0, 207),
        0 0 150px rgb(149, 0, 207);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
     
    }    
  }


  .rodape{
     font-size: 15px; 
     margin-top: 3%;
     margin-bottom: 1%;
  }

  .link{
      display: block;
      text-align: center;
      text-decoration: none;
      color: rgb(235, 16, 0);
  }





@media screen and (max-width: 500px){

    .titulo{
        display: block;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-weight: bolder;
        animation: flicker 1.5s infinite alternate;  
        
    }
    .titulo2{
        display: block;
        text-align: center;
        color: rgb(255, 255, 255);
        
        font-size: 25px;
        font-weight: bolder;
    }
    
    .container1{
        width: 100%;
        margin: auto;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(149, 0, 207);
        border-radius: 30px;
    
    }
    
    .container2{
        width: 100%;
        margin: auto;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(149, 0, 207);
        border-radius: 30px; 
    }
    
    .container3{
        width: 100%;
        margin: auto;
        font-weight: normal;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(149, 0, 207);
        border-radius: 30px;
    
    }
    
    p{
        text-align: center;
        font-size: 11px;
        padding: 3px;
        margin: 3px;
        
    }
    
    
    
    
    table, th, td{
        background-attachment: fixed;
        border: 3px solid rgb(149, 0, 207);
        border-collapse: collapse;
        font-size: 20px;
    
    
    }
    
    
    th, td {
        padding: 5px 10px;
    }
    
    th{
        font-weight: bolder;
        color: greenyellow;
    }
    
    td{
        font-weight: normal;
    }
    
    
    .container-tabela{
        width: 79%; 
        margin: auto;
    }


}